.header {
    display: flex;
    justify-content: space-between;
    color: #0f65ef;
    font-weight: bold;
    font-size:15px;
}

.logo {
    width: 125px;
}

body {
    background-color: white;
}

.siliconValley {
    width: 30%;
    height:30%;
}

#caption {
    font-size: 20px;
}

#tomImg {
    border-radius: 50%;
    width: 50px;
    height:50px;
}

a {
    color: #0f65ef;
    font-weight: bold;
}

#tom {
    color: grey;
}

.result {
   text-align:center;
     
}

button {
    margin-top: 10px;
    color: white;
    background-image:url("https://images.alphacoders.com/241/thumb-1920-241901.jpg");
    background-size:cover;
    font-size: 40px;
    border-radius: 25px;
    border:3px groove black ;
    font-family: monospace;
   width:800px;
   height:500px;
}
#question1:hover{
      cursor:url(darwin.cur),auto;  
}
#question2:hover{
      cursor:url(knife.cur),auto;  
}
#question3:hover{
      cursor:url(cheetah.cur),auto;  
}
#question4:hover{
      cursor:url(Joker.cur),auto;  
}
#question5:hover{
      cursor:url(pig.cur),auto;  
}
body{
    cursor:url(too683.cur),auto;
    margin-left:20px;
    background-image:  linear-gradient(gold,blue,red,grey,black);
}
.result{
 font-size:20px;   
}
